// Elements

html,
body {
    line-height: 1.2;
    font-family: $base-font;
    font-size: $base-size;
    color: $black;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
dd,
dl,
dt,
figcaption,
figure,
hr,
li,
ol,
ul,
p,
pre,
a,
caption,
col,
colgroup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
button,
fieldset,
label,
legend,
optgroup,
option,
select,
textarea,
a {
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

a,
button {
    text-decoration: none;
    color: inherit;
    &:hover {
        cursor: pointer;
    }
    * {
        pointer-events: none;
    }
}

// Utilities
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.skip-to-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    img {
        border: 0;
    }
}
.clearfix {
    @extend %clearfix;
}
.nowrap {
    white-space: nowrap;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}