%clearfix {
    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
}

@mixin flexInBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}