header {
    .container {
        @include flexInBetween;
        border-bottom: 2px solid $red;
    }
    h1.logo {
            color: $red2;
    }
    nav {
        max-width: 500px;
        a {
            color: $red;
            display: inline-block;
            padding-right: 20px;
            font-size: 1em;
            &:hover, &:focus{
                text-decoration: underline;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }
}

//footer
footer {
    background: $black;
    color: $yellow;
}